html {
	height: 100%; 
	position: relative;
	/* pour forcer le bon positionnement de modalePage */
}

body {
	height: 100%;
	/* pour forcer le bon positionnement de modalePage */
	background-color: rgba(255, 254, 248, 1);
}


button[type="button"]:hover, input[type="submit"]:hover, button[class="anyButton"]:hover {
	cursor: pointer;
	background-color: rgba(14, 47, 40, 1) !important;
}


.modale1 button {
	width: 237px !important;
	height: 36px !important;
	background-color: var(--vert-foret);
	margin: auto;
	margin-top: 38px;
	margin-bottom: 45px;
	font-weight: bold !important;
	font-size: 14px !important;
	border-radius: 60px;
	color: white;
   }
   .modale2 button {
	width: 237px !important;
	height: 36px !important;
	background-color: var(--vert-foret);
	margin: auto;
	margin-top: 32px;
	margin-bottom: 55px;
	font-weight: bold !important;
	font-size: 14px !important;
	border-radius: 60px;
	color: white;
   }

.modaleTitle {
	margin-top: 10px;
	margin-bottom: 46px;
	font-family: "Work Sans", sans-serif;
	color: black;
	font-weight: 400;
	font-size: 26px;
   }


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

#loginButton {
	width: 179px !important;
	height: 36px !important;
	background-color: var(--vert-foret);
	margin: 7px auto;
	font-weight: bold !important;
	font-size: 14px !important;
	border-radius: 60px;
	color: white;
   }




body {
	line-height: 1;
	/* background-color: rgba(255, 254, 248, 1) !important;   Ca fonctionne pas ... */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 139px auto 0px;
	width: 83.333%;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 474px;
	object-fit: cover;
	height: 355px;
}

#introduction article {
	margin-left: 72px;
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 45px;
}
.gallery {
	width: max-content;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 38px;
	margin-top: 45px;

}

.gallery figure{
 max-width: 305px;
 max-height: 407px;
}
.gallery img {
	width: 100%;
}
.gallery figcaption{
	font-size: 13px;
   }

#contact {
	position: relative;
	width: 50%;
	margin-top: 79px;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* Modif Par Eva */

:root {
	--vert-foret: rgba(29, 97, 84, 1);
  }


  

.invisible {
	display: none !important;
}


.filterButton {
	box-sizing: border-box;
    border: 2px solid var(--vert-foret);
    border-radius: 60px;
    color: var(--vert-foret);
    width: auto;
	min-width: 100px;
    font-weight: bold;
    font-size: 16px;
    padding: 8.5px 10px;
	text-align: center;

}
.filterButton:hover{
	cursor: pointer;
	background-color: var(--vert-foret);
	color: white;
}

.filterBox {  
	display: flex;
	justify-content: space-around;
	width: 41vw;
	max-width: 900px;
    flex-wrap: wrap;
	row-gap: 15px;
	position: relative;
    left: 50%;
    transform: translateX(-50%);
	padding-top: 1px;
	padding-bottom: 1px;

}

.loginBox {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: fit-content;
	margin: 10px auto;
}

.loginBox label {
	width: 100%;
	text-align: left;
}

.modalePage { /*Voile gris sur la page*/
	position: fixed; /*recouvre toute la page facilement*/
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.3);
    width: 1440px;
    height: 100%;

    /*Pour suivre le margin auto de body*/
	left: 50%; /* Place l'élément à 50% de la largeur du conteneur parent */
    transform: translateX(-50%); /* Décale l'élément de moitié de sa propre largeur vers la gauche */
	/*Merci chatGPT*/
}



.modaleBox {

	z-index: 750;
	width: 630px;
	height: 688px;
	text-align: center;
	background-color: white;
	position: absolute;
	/* // centrage automatique */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
	
}
.modale1 nav {
	display: flex;
	justify-content: flex-end;
}

.modale2 nav {
	display: flex;
	justify-content: space-between;
}
.leftArrowButton{
	margin-top: 25px;
	margin-left: 30px;
}
.leftArrowButton:hover {
	cursor: pointer;
}

.leftArrowButton .fa-arrow-left {
	height: 18px;
	width: 21px;
}


.crossButton {
	margin-right: 30px;
	margin-top: 26px;
}
.crossButton:hover{
	cursor: pointer;
}

.crossButton .fa-xmark{
	height: 12px;
	width: 12px;
	margin: 6px;

}


/* .arrowLeftButton {

} */


.rowBox {
	display: flex;
	justify-content: center;
	align-items: baseline;
}
 #portfolio {
	margin-top: 139px;

}


.modifButton {
	position: relative;
	bottom: 5px;
	text-align: center;
	z-index: 200;
	padding: 5px;
	margin-left: 25px;

}
.modifButton p { 
	margin-left: 10px;
}
.modifButton i { 
	font-size: 15px;
}


.modHeaderBand p { 
	margin: auto 0;
	margin-left: 10px;
	
}
.modHeaderBand i {
	margin: auto 0; 
	font-size: 15px;
}

.modHeaderBand {
	position: relative;
	text-align: center;
	color: white;
	background-color: black;
	width: 1440px;
	height: 59px;
	display: flex;
	justify-content: center;
	margin: 0px;
	right: 150px;
}

.anyButton:hover {
	cursor: pointer;
}


.modGallery {	
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-rows: auto; 
    column-gap: 9px; 
	row-gap: 29px;
	margin: 0 105px 67px 105px;
}

.modGallery figure{
 position: relative;
}
.modGallery img{
	max-width: 100%;
	max-height: 100%;
	display: block;
	height: auto;
	width: auto;

}

.modGallery div{ /*boutons corbeille*/
	position: absolute;
	width: 17px;
	height: 17px;
	top: 10px;
	right: 10px;
	color: white;
	background-color: black;
	border-radius: 2px;
   }
   .modGallery div:hover { /*boutons corbeille*/
	cursor: pointer;
   }

   .fa-trash-can { /*corbeille*/
	font-size: 0.75em;
	position: relative;
    bottom: 0.5px;
   }

   /* .modaleBox nav {
	justify-content: space-between;
   } */

   header nav ul li:hover {
	cursor: pointer;
	font-weight: bold;
	color: black;
   }

   #loginPage input {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.9);
	margin-top: 7px;
	margin-bottom: 30px;
	font-size: 1.2em;
	text-align: center;
   }
   #loginPage label {
	margin-top: 30px;

   }
   #loginPage h2 {
	margin-bottom: 7px;
   }


	hr {
		margin-left: 105px;
		margin-right: 105px;
	}

	label[for="inputFile"] {
		display: block;
		width: 420px;
	}

	.inputFileBox {
		background-color: rgba(232, 241, 246, 1);
		margin: 36px 105px 30px 105px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 420px;
		min-width: 420px;
	}
	.inputFileBox:hover {
		cursor:pointer;
	}

	.inputFileBox i {
		height: 76px;
		width: 76px;
		font-size: 4.9em;
		position: relative;
		line-height: 76px;
		color: rgba(203, 214, 220, 1);
		margin: 13px auto 6px;
	}
	.inputFileBox span p {
	width: 173px;
    background-color: rgba(203, 220, 216, 1);
    border-radius: 50px;
    padding: 11px 0px;
    color: rgba(48, 102, 133, 1);
	font-weight: 800;
	}
	.inputFileBox p:last-of-type {
		margin: 7px auto;
		font-size: 10px;
	} 

	.inputFileBox img {
		max-height: 169px;
    max-width: 420px;
    object-fit: cover;
	}

	#inputFile {
		display: none;
	}

	.modale2 input, select {
		width: 420px;
		height: 51px;
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.9);
		margin-top: 10px;
		margin-bottom: 21px;
		font-size: 1.2em;
		text-align: center;
		outline: none;
	}

	.modale2 label:not(label:first-of-type) {
		display: inline-block;
		width: 420px;
		text-align: left;
		font-weight: 500;
	}

	.modale2 hr {
		margin: 26px 105px 0px 105px;
	}

/* Modif Par Eva */